<%= form_for @week do |f| %>
    <% if @week.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@week.errors.count, "error") %> prohibited this week from being saved:
        </h2>

        <ul>
        <% @week.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :date, "Enter the dates for this week, eg: 'Week of September 1st'" %>
      <br>
      <%= f.text_field :date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :notes, "Enter any notes for this week" %>
      <br>
      <%= f.text_field :notes, class: "form-control" %>
    </div>

    

    <div class="actions">
      <br/>
      <%= f.submit class: "btn btn-primary" %>
    </div>

  <% end %>
