<h3><%= @week.date %>, <%= @week.year.year%> <%= @week.year.house.name %></h3>

<p>Renter: <%= link_to @week.renters.first.name, @week.renters.first %></p>
<p>Rent: <%= @week.rincomes.first.amount %></p>
<p>Deposit: <%= @week.deposits.first.amount %></p>
<p>Deposit Notes: <%= @week.deposits.last.notes %>, <%= @week.renters.last.notes %> </p>
<p>Misc Charges: <%=@week.misc_charges %></p>
