<%= form_for @house do |f| %>
    <% if @house.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:
        </h2>

        <ul>
        <% @house.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :info, "Info" %>
      <br>
      <%= f.text_field :info, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :market_value, "Market Value" %>
      <br>
      <%= f.number_field :market_value, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :purchase_price, "Purchase Price" %>
      <br>
      <%= f.number_field :purchase_price, class: "form-control" %>
    </div>

    <div class="form-group">
      <span> <%= f.label :years, "Check which years you'd like to add to this house: " %>

      <%= f.collection_check_boxes :year_ids, Year.all, :id, :year %></span>
    </div>

    <div class="actions">
      <br/>
      <%= f.submit class: "btn btn-primary" %>
    </div>

  <% end %>
