<h1>Houses</h1>
<br />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>MarketValue</th>
      <th>Value</th>
      <th>Income</th>
      <th>Expenses</th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
        <tr>
          <td><%= link_to house.name, house %></td>
          <td><%= house.market_value %></td>
          <td><%= house.value %></td>
          <td><%= house.show_total_income %></td>
          <td><%= house.total_expenses %></td>
        </tr>
    <%end%>
  </tbody>
</table>

<br><br>

<table>
  <thead>
    <tr>
      <th>YOY |</th>
    <% @houses.each do |house| %>
      <% house.years.each do |year| %>
        <th><%= year.year %> |</th>
      <%end%>
    <%end%>
    </tr>
  </thead>

  <tbody>
    <%@houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <% house.years.each do |year| %>
          <td> <%= link_to year.total_income, year %> </td>
        <% end %>
      </tr>
    <%end%>
  </tbody>

  <h3>Open Weeks</h3>
  <ol>
    <% @houses.each do |house| %>
      <% house.years.each do |year| %>

      <%end%>
    <%end %>
  </ol>

</table>

<br><br><br>
<div><%= link_to 'Add New House', new_house_path %></div>
