<h1>Overview</h1>
<br />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>MarketValue</th>
      <th>Value</th>
      <th>Income</th>
      <th>Expenses</th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
        <tr>
          <td><%= link_to house.name, house %></td>
          <td><%= house.market_value %></td>
          <td><%= house.value %></td>
          <td><%= house.show_total_income %></td>
          <td><%= house.total_expenses %></td>
        </tr>
    <%end%>
  </tbody>
</table>

<br><br>

<table>
  <thead>
    <tr>
      <th>YOY |</th>
    <% @houses.each do |house| %>
      <% house.years.each do |year| %>
        <th><%= year.year %> |</th>
      <%end%>
    <%end%>
    </tr>
  </thead>

  <tbody>
    <%@houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <% house.years.each do |year| %>
          <td> <%= link_to year.total_income, year %> </td>
        <% end %>
      </tr>
    <%end%>
  </tbody>
</table>
<br>






<br><br><br>
<h4>Open Weeks</h4>
<ol>
  <li>hardcoded blank</li>
  <% @houses.each do |house| %>
    <% house.years.each do |year| %>
      <% year.weeks.each do |week| %>
        <% if !week.closed? %>
          <%= link_to week.date, week_path %>
        <% end %>
      <% end %>
    <%end%>
  <%end %>
</ol>

<br><br><br>
<div><%= link_to 'Add New House', new_house_path %></div>
