<h1>Houses</h1>

<div><%= link_to 'Create House', new_house_path %></div>
<br />

<table>
  <thead>
    <tr>
      <th>Name </th>
      <th>Market Value</th>
      <th>Value</th>
      <th>Income</th>
      <th>Expenses</th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= link_to house.name, house %></td>
        <td><%= house.market_value %></td>
        <td><%= house.value %></td>
        <td><%= house.total_income %></td>
        <td><%= house.total_expenses %></td>
      </tr>
    <% end %>
  </tbody>
</table>
