

<h1>Welcome, <%= @user.name %></h1><br>
<h3>Overview:</h3>

<br/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>MarketValue</th>
      <th>Value</th>
      <th>Income</th>
      <th>Expenses</th>
    </tr>
  </thead>

  <tbody>
    <% @user.houses.each do |house| %>
        <tr>
          <td><%= link_to house.name, house %></td>
          <td><%= house.market_value %></td>
          <td><%= house.value %></td>
          <td><%= house.show_total_income %></td>
          <td><%= house.total_expenses %></td>
        </tr>
    <%end%>
  </tbody>
</table>

<br><br>

<table>
  <thead>
    <tr>
      <th>YOY</th>
      <% x = [] %>
      <% @user.houses.each do |h| %>
        <% h.years.each do |y| %>
          <% x << y.year %>
        <% end %>
      <% end %>

      <% x.each do |y| %>
        <th><%= y %></th>
      <% end %>
    </tr>
    <tr>
      <!-- WHY NOT WORK BATMAN!?!?!?!? -->
      <% x = all_years @user %>
    </tr>
  </thead>

  <tbody>
    <%@user.houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <% house.years.each do |year| %>
          <td> <%= link_to year.total_income, house_year_url(year.house.id, year.id) %> </td>
        <% end %>
      </tr>
    <%end%>
  </tbody>
</table>


<br><br>



<!-- week.closed? -->
<table>
  <thead>
    <tr>
      <th>Open Weeks</th>
    </tr>
  </thead>
  <tbody>
      <% @user.houses.each do |house| %>
        <% house.years.each do |year| %>
          <% year.weeks.each do |week| %>
            <% if week.closed? != true %>
              <td> <%= link_to week.date, week %></td>
            <% end %>
          <% end %>
        <%end%>
      <%end %>

  </tbody>
</table>

<br><br><br>

<div><%#= link_to 'Add New Year', new_house_year_path %></div>
<div><%= link_to 'Add New Week', new_week_path %></div>
<div><%= link_to 'Add New Expense', new_expense_path %></div>
<div><%= link_to 'Add New Renter', new_renter_path %></div>
<div><%= link_to 'Add New House', new_house_path %></div>


<br><br>

<!-- COMMENTS FROM HOUSES.COFFEE, whatever is loaded will be injected here -->
<div class="comments">

</div>

<footer>
  <span>Logged in as: <%= current_user.email %>  <%= link_to "    logout", logout_path %></span>
</footer>
<br>

<div>
  <%# Year.years_and_mine %>
</div>
<br>


<!-- ajaxify, remove action, make alert work -->
<div class="submit_comment">
  <h4>submit feedback to the devs:</h4>
  <br>

  <%= form_for [@user, @comment] do |f| %>
    <%= f.text_area :body %>
    <p class="comment_submit"><%= f.submit %></p>
  <% end %>
</div>

<div class="comments">
  <%= render 'comments/index' %>
</div>
