<h1>Houses</h1>

<div><%= link_to 'Create House', new_house_path %></div>
<br />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Market Value</th>
      <th>Value</th>
      <th>Income</th>
      <th>Expenses</th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |song| %>
      <tr>
        <td><%= house.name %></td>
        <td><%= house.market_value %></td>
        <td><%= house.value %></td>
        <td><%= house.total_income %></td>
        <td><%= house.total_expenses %></td>
        <td>
          <%= link_to 'View', house %> |
          <%= link_to 'Edit', edit_house_path(house) %> |
          <%= link_to 'Delete', house, method: :delete, data: { confirm: 'For real?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
