<h1><%= @house.name %> </h1>
<div>
  <%= @house.info %>
</div>

<div>
  <%= @house.name %> expenses:
  <ol>
    <% @house.expenses.each do |e| %>
    <li>
      <%= e.amount %>
      <%= e.notes %>
      <%= e.date %>
    </li>
    <% end %>
  </ol>
</div>


<% @house.years.each do |y| %>
  <div>
    <br>
    <p><%= y.year %></p>
    <table>
      <thead>
        <tr>
          <th> Date </th>
          <th> Amount </th>
          <th> Deposit </th>
          <th> Misc / Notes </th>
          <th> Renter </th>
        </tr>
      </thead>
      <tbody>
          <% y.weeks.each do |week| %>
            <tr>
              <td><%= link_to week.date, week %></td>
              <td><%= week.total_income %></td>
              <td><%= week.deposits.last.amount ? week.deposits.last.amount : 0 %></td>
              <td><%= week.deposits.last.notes %> <%= week.renters.last.notes %></td>
              <td><%= link_to week.renters.first.name, week.renters.first %></td>
            </tr>
          <% end %>




        <tr>
          <td>Total</td>
          <td> <%= y.total_income %> </td>
          <td> <%= y.total_deposits %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
