<h1><%= @house.name %> </h1>
<div>
  <%= @house.info %>
</div>

<div>
  <%= @house.name %> expenses:
  <ol>
    <% @house.expenses.each do |e| %>
    <li>
      <%= e.amount %>
      <%= e.notes %>
      <%= e.date %>
    </li>
    <% end %>
  </ol>
</div>

House Income
