<h1><%= @year.year %></h1>
<h4>Rentals</h4>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Deposit</th>
      <th>Misc / Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @year.weeks.each do |week| %>
    <tr>
      <td><%= link_to week.date, week %></td>
      <td><%= week.total_income %></td>
      <td><%= week.deposits.last.amount ? week.deposits.last.amount : 0 %></td>
      <td><%= week.deposits.last.notes %> <%= week.renters.last.notes %></td>

    </tr>
    <% end %>

    <tr>
      <td>Total</td>
      <td> <%= @year.total_income %> </td>
      <td> <%= @year.total_deposits %></td>
    </tr>
  </tbody>
</table>
